<div #calendarElement class="flex justify-center p-4 bg-pink-50 rounded-3xl border-2 border-pink-200 w-full">
  <calendar-date class="cally bg-white border-2 border-pink-300 shadow-lg rounded-box w-full" style="--calendar-color: #ec4899;">
    <svg aria-label="Previous" class="fill-pink-500 size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path></svg>
    <svg aria-label="Next" class="fill-pink-500 size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path></svg>
    <calendar-month></calendar-month>
  </calendar-date>
</div>
