<footer class="footer p-10 bg-neutral text-base-content flex flex-wrap justify-between items-start">
  <aside class="flex flex-col gap-2">
    <p class="text-2xl font-bold italic text-secondary">Valentina Spa</p>
    <p class="text-secondary-content">Realzando tu belleza natural<br/>desde 2024.</p>
  </aside>

  <nav class="flex flex-col gap-2">
    <h6 class="footer-title text-accent opacity-100 font-bold">Horarios</h6>
    <span class="text-sm text-secondary-content">Lunes a Viernes: 9am - 7pm</span>
    <span class="text-sm text-secondary-content">Sábados: 10am - 4pm</span>
  </nav>

  <nav class="flex flex-col gap-2">
    <h6 class="footer-title text-accent opacity-100 font-bold">Legal</h6>
    <a class="link link-hover text-secondary-content hover:text-info">Términos de uso</a>
    <a class="link link-hover text-secondary-content hover:text-info">Privacidad</a>
  </nav>
</footer>
