<ul class="menu w-full grow">
  <!-- List item -->
  <li>
    <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Reservar Citas">
      <!-- book appointments -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        fill="none"
        stroke="currentColor"
        class="my-1.5 inline-block size-4"
      >
        <path
          d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"
        >
        </path>
        <path
          d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
        </path>
      </svg>
      <span class="is-drawer-close:hidden">Inicio</span>
    </button>
  </li>

  <!-- List Citas -->
  <li>
    <button routerLink="home" routerLinkActive="active" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Citas">
      <!-- Settings icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        fill="none"
        stroke="currentColor"
        class="my-1.5
        inline-block size-4"
      >
        <path d="M20 7h-9"></path>
        <path d="M14 17H5"></path>
        <circle cx="17" cy="17" r="3"></circle>
        <circle cx="7" cy="7" r="3"></circle>
      </svg>
      <span class="is-drawer-close:hidden">Citas</span>
    </button>
  </li>

  <!-- history Citas -->
  <li>
    <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Historial">
      <!-- Settings icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17" height="17"
        viewBox="0 0 24 24"
      >
        <path
          fill="#c70c60"
          d="M12 21q-3.45 0-6.012-2.287T3.05 13H5.1q.35 2.6 2.313 4.3T12 19q2.925 0
          4.963-2.037T19 12t-2.037-4.962T12 5q-1.725 0-3.225.8T6.25 8H9v2H3V4h2v2.35q1.275-1.6
          3.113-2.475T12 3q1.875 0 3.513.713t2.85 1.924t1.925 2.85T21 12t-.712 3.513t-1.925
          2.85t-2.85 1.925T12 21m2.8-4.8L11 12.4V7h2v4.6l3.2 3.2z"
        />
      </svg>
      <span class="is-drawer-close:hidden">Historial</span>
    </button>
  </li>
</ul>
