<!-- <div class="hero min-h-[70vh]" style="background-image: url(../../../../../public/img/carrusel-1.jpg);">
  <div class="hero-overlay bg-opacity-40 bg-black"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold italic text-white">Diseño que enamora</h1>
      <p class="mb-5 text-white text-lg">En Valentina Spa, transformamos tus manos en una obra de arte. Calidad, higiene y estilo en cada detalle.</p>
      <button class="btn btn-primary btn-wide text-lg border-none">Explorar Catálogo</button>
    </div>
  </div>
</div> -->

<div class="carousel w-full">
  <div id="item1" class="carousel-item w-full">
    <img
      src="https://images.unsplash.com/photo-1604654894610-df63bc536371?q=80&w=500"
      class="w-full" />
  </div>
  <div id="item2" class="carousel-item w-full">
    <img
      src="assets/carrusel-2.jpg"
      class="w-full" />
  </div>
  <div id="item3" class="carousel-item w-full">
    <img
      src="assets/carrusel-3.jpg"
      class="w-full" />
  </div>
  <div id="item4" class="carousel-item w-full">
    <img
      src="assets/img/carrusel-4.jpg"
      class="w-full" />
  </div>
</div>
<div class="flex w-full justify-center gap-2 py-2">
  <a href="#item1" class="btn btn-xs">1</a>
  <a href="#item2" class="btn btn-xs">2</a>
  <a href="#item3" class="btn btn-xs">3</a>
  <a href="#item4" class="btn btn-xs">4</a>
</div>
