<section class="overflow-x-auto">

  <h2 class="text-2xl font-bold text-pink-500 mb-8 text-center">Tus citas programas</h2>

  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Citas</th>
        <th>Tipo de Servicio</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>Quality Control Specialist</td>
        <td>Blue</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>Tax Accountant</td>
        <td>Red</td>
      </tr>
    </tbody>
  </table>
</section>
