

<section class="bg-white" id="Servicios">

  <h2 class="text-4xl font-bold text-pink-500 text-center mt-2 mb-4">
    Nuestros servicios
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-4">

    <!-- Gelish -->

    <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
      <div class="relative overflow-hidden">
        <img src="Gelish.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
        <div class="absolute top-2 right-2 badge badge-rose-700 font-bold">$350</div>
      </div>

      <div class="p-5">
        <h3 class="text-lg font-bold text-pink-500">Gelish</h3>
        <p class="text-xs text-gray-500 mt-1 italic">Incluye exfoliación, manicura en seco, Gel a uno solo tomo, si quiere algun diseño costo adcional</p>

        <div class="flex justify-between items-center mt-4">
          <span class="flex items-center gap-1 text-xs font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g
                fill="none"
                stroke="#f3ca4c"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
              <circle
              cx="12"
              cy="12"
              r="10"
              />
              <path
              d="M12
              6v6l4 2"
              />
              </g>
            </svg>
            60 min
          </span>
          <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button>
        </div>
      </div>
    </div>

      <!-- Maquicure -->

    <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
      <div class="relative overflow-hidden">
        <img src="manicura.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
        <div class="absolute top-2 right-2 badge adge-rose-700 font-bold">$450</div>
      </div>

      <div class="p-5">
        <h3 class="text-lg font-bold text-pink-500">Maquicura Valentina</h3>
        <p class="text-xs text-gray-500 mt-1 italic">Incluye exfoliación y masaje</p>

        <div class="flex justify-between items-center mt-4">
          <span class="flex items-center gap-1 text-xs font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g
                fill="none"
                stroke="#f3ca4c"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
              <circle
              cx="12"
              cy="12"
              r="10"
              />
              <path
              d="M12
              6v6l4 2"
              />
              </g>
            </svg>
            60 min
          </span>
          <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button>
        </div>
      </div>
    </div>

    <!-- soft gel-->

    <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
      <div class="relative overflow-hidden">
        <img src="soft-gel.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
        <div class="absolute top-2 right-2 badge badge-rose-700 font-bold">$500</div>
      </div>

      <div class="p-5">
        <h3 class="text-lg font-bold text-pink-500">Soft Gel</h3>
        <p class="text-xs text-gray-500 mt-1 italic">Incluye exfoliación, manicura en seco, uña soft gel a uno tomo, costo extra por diseño</p>

        <div class="flex justify-between items-center mt-4">
          <span class="flex items-center gap-1 text-xs font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g
                fill="none"
                stroke="#f3ca4c"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
              <circle
              cx="12"
              cy="12"
              r="10"
              />
              <path
              d="M12
              6v6l4 2"
              />
              </g>
            </svg>
            30 min
          </span>
          <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button>
        </div>
      </div>
    </div>

    <!-- Planchado de cejas -->

    <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
      <div class="relative overflow-hidden">
        <img src="planchado.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
        <div class="absolute top-2 right-2 badge badge-rose-700 font-bold">$200</div>
      </div>

      <div class="p-5">
        <h3 class="text-lg font-bold text-pink-500">Planchado  de cejas</h3>
        <p class="text-xs text-gray-500 mt-1 italic">Incluye planchado de cejas</p>

        <div class="flex justify-between items-center mt-4">
          <span class="flex items-center gap-1 text-xs font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g
                fill="none"
                stroke="#f3ca4c"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
              <circle
              cx="12"
              cy="12"
              r="10"
              />
              <path
              d="M12
              6v6l4 2"
              />
              </g>
            </svg>
            90 min
          </span>
          <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button>
        </div>
      </div>
    </div>

    <!-- Acrilico-->

    <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
      <div class="relative overflow-hidden">
        <img src="acrilico.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
        <div class="absolute top-2 right-2 badge badge-rose-700 font-bold">$600</div>
      </div>

      <div class="p-5">
        <h3 class="text-lg font-bold text-pink-500">Uñas Acrilica</h3>
        <p class="text-xs text-gray-500 mt-1 italic">Incluye exfoliación, manicura en seco, uña Acrilicas en un tono, costo extra por diseño</p>

        <div class="flex justify-between items-center mt-4">
          <span class="flex items-center gap-1 text-xs font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g
                fill="none"
                stroke="#f3ca4c"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
              <circle
              cx="12"
              cy="12"
              r="10"
              />
              <path
              d="M12
              6v6l4 2"
              />
              </g>
            </svg>
            120s min
          </span>
          <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button>
        </div>
      </div>
    </div>

    <!-- Pedicure -->

    <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
      <div class="relative overflow-hidden">
        <img src="pedicure.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
        <div class="absolute top-2 right-2 badge badge-rose-700 font-bold">$400</div>
      </div>

      <div class="p-5">
        <h3 class="text-lg font-bold text-pink-500">Pedicure Valetina</h3>
        <p class="text-xs text-gray-500 mt-1 italic">Incluye exfoliación y masaje</p>

        <div class="flex justify-between items-center mt-4">
          <span class="flex items-center gap-1 text-xs font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g
                fill="none"
                stroke="#f3ca4c"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
              <circle
              cx="12"
              cy="12"
              r="10"
              />
              <path
              d="M12
              6v6l4 2"
              />
              </g>
            </svg>
            90 min
          </span>
          <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button>
        </div>
      </div>
    </div>

    <!-- <button routerLink="/reservar" class="btn btn-primary btn-xs btn-outline">Reservar Cita</button> -->
  </div>

</section>

