<div class="card w-full bg-base-100 shadow-xl">
  <div class="card-body m-auto">
    <h2 class="card-title mt-2 text-pink-500 font-bold text-4xl">Contactanos</h2>

    <div class="form-control">
      <label class="label"><span class="label-text">Asunto</span></label>
      <input type="text" placeholder="Asunto del mensaje" class="input input-bordered" />
    </div>

    <div class="form-control">
      <label class="label"><span class="label-text">Telefono</span></label>
      <input type="number" placeholder="Numero de telefono" class="input input-bordered" />
    </div>

    <div class="form-control">
      <label class="label"><span class="label-text">Email</span></label>
      <input type="email" placeholder="email@ejemplo.com" class="input input-bordered" />
    </div>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Tu Mensaje</legend>
      <textarea class="textarea h-24" placeholder="Escribe tu mensaje aquí..."></textarea>
      <div class="label"></div>
    </fieldset>

    <div class="form-control mt-6">
      <button class="btn btn-primary btn-md btn-outline">Enviar Mensaje</button>
    </div>
  </div>
</div>
