<section id="contacto" class="py-20 bg-base-200" id="Contactanos">
  <div class="container mx-auto px-4 flex justify-center">

    <div class="card bg-base-100 shadow-2xl w-full max-w-2xl border border-primary/10">

      <div class="card-body p-10">
        <h2 class="text-3xl font-bold text-center text-pink-500 mb-2">¿Necesitas más información?</h2>
        <p class="text-center text-gray-600 mb-8 italic">Déjanos tus datos y nos pondremos en contacto contigo</p>

        <form class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="form-control">
            <label class="label m-3"><span class="label-text font-semibold text-primary/80">Nombre Completo</span></label>
            <input type="text" placeholder="Ej. Valentina López" class="input input-bordered focus:border-primary w-full bg-base-200/50" />
          </div>

          <div class="form-control">
            <label class="label m-3"><span class="label-text font-semibold text-primary/80">WhatsApp</span></label>
            <input type="tel" placeholder="Tu número de contacto" class="input input-bordered focus:border-primary w-full bg-base-200/50" />
          </div>

          <div class="form-control md:col-span-2">
            <label class="label m-3"><span class="label-text font-semibold text-primary/80">Servicio de interés</span></label>
            <select class="select select-bordered focus:border-primary w-full bg-base-200">
              <option disabled selected class="text-pink-700">Selecciona un servicio</option>
              <option class="text-pink-700" >Acrílico Full Set</option>
              <option class="text-pink-700">Gelish sobre uña natural</option>
              <option class="text-pink-700">Manicura Rusa</option>
              <option class="text-pink-700">Pedicura Spa</option>
            </select>
          </div>

          <div class="form-control md:col-span-2">
            <label class="label m-3"><span class="label-text font-semibold text-primary/80">Notas adicionales</span></label>
            <textarea class="textarea textarea-bordered focus:border-primary w-full h-24 bg-base-200/50" placeholder="¿Tienes alguna preferencia de diseño?"></textarea>
          </div>

          <div class="form-control md:col-span-2 mt-4">
            <button class="btn btn-primary text-white text-lg font-bold shadow-lg hover:scale-105 transition-transform">
              Confirmar Disponibilidad
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>
