<nav class="navbar bg-base-100 shadow-md fixed top-0 w-full z-100 px-4">
  <div class="flex w-full justify-center md:hidden">
    <a class="text-xl font-bold text-primary tracking-tighter cursor-pointer" (click)="scrollTo('inicio')">
      VALENTINA <span class="font-light">SPA</span>
    </a>
  </div>

  <div class="hidden md:flex w-full items-center">

    <div class="navbar-start">
      <a class="text-xl font-bold text-primary tracking-tighter cursor-pointer" (click)="scrollTo('inicio')">
        VALENTINA <span class="font-light">SPA</span>
      </a>
    </div>

    <div class="navbar-end flex mr-2">
      <ul class="menu menu-horizontal px-1 font-semibold text-primary gap-6">
        <li><a (click)="scrollTo('inicio')" class="hover:text-primary/70 transition-colors">Inicio</a></li>
        <li><a (click)="scrollTo('servicios')" class="hover:text-primary/70 transition-colors">Servicios</a></li>
        <li><a (click)="scrollTo('catalogo')" class="hover:text-primary/70 transition-colors">Catálogo</a></li>
        <li><a (click)="scrollTo('contacto')" class="hover:text-primary/70 transition-colors">Contacto</a></li>
      </ul>
    </div>

  </div>
</nav>


<!-- <div class="navbar bg-base-100 shadow-md fixed top-0 w-full z-100 px-4 md:px-8">

  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-xl bg-base-100 rounded-box w-52 border border-primary/10 text-primary">
        <li><a (click)="scrollTo('inicio')">Inicio</a></li>
        <li><a (click)="scrollTo('promociones')">Promociones</a></li>
        <li><a (click)="scrollTo('servicios')">Servicios</a></li>
        <li><a (click)="scrollTo('contacto')">Contacto</a></li>
      </ul>
    </div>
    <a class="text-lg md:text-xl font-bold text-primary tracking-tighter cursor-pointer" (click)="scrollTo('inicio')">
      VALENTINA <span class="font-light">SPA</span>
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-semibold text-primary gap-4">
      <li><a (click)="scrollTo('inicio')" class="hover:text-primary/70 transition-colors">Inicio</a></li>
      <li><a (click)="scrollTo('promociones')" class="hover:text-primary/70 transition-colors">Promociones</a></li>
      <li><a (click)="scrollTo('servicios')" class="hover:text-primary/70 transition-colors">Servicios</a></li>
      <li><a (click)="scrollTo('contacto')" class="hover:text-primary/70 transition-colors">Contacto</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <div class="hidden md:flex">
      <a routerLink="/login" class="btn btn-soft btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg ">
        Iniciar Sesión
      </a>
    </div>

  </div>

</div> -->
