<h2 class="text-4xl font-bold text-pink-500 text-center mt-2 mb-4">
  Promociones de mes
</h2>

<section class="flex justify-center-safe gap-6 mb-6">

  <div class="card bg-base-100 w-96 shadow-sm">
    <figure class="px-10 pt-10">
      <img
        src="card-1.jpg"
        alt="Shoes"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-pink-500">Card Title</h2>
      <p class="text-sm leading-relaxed text-gray-600">
        A card component has a figure, a body part, and inside body there are title and actions parts
      </p>
      <div class="card-actions">
        <button class="btn btn-outline"> Reservar una cita </button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-96 shadow-sm">
    <figure class="px-10 pt-10">
      <img
        src="card-2.jpg"
        alt="Shoes"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-pink-500">Card Title</h2>
      <p class="text-sm leading-relaxed text-gray-600">
        A card component has a figure, a body part, and inside body there are title and actions parts
      </p>
      <div class="card-actions">
        <button class="btn btn-outline"> Reservar una cita </button>
      </div>
    </div>
  </div>

</section>

