<h2 class="text-4xl  text-secondary text-center mt-2 mb-4">
  Promociones de mes
</h2>

<section class="flex justify-center-safe gap-4">

  <div class="card bg-base-100 w-96 shadow-sm">
    <figure class="px-10 pt-10">
      <img
        src="card-1.jpg"
        alt="Shoes"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Card Title</h2>
      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      <div class="card-actions">
        <button class="btn btn-primary"> Reservar una cita </button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-96 shadow-sm">
    <figure class="px-10 pt-10">
      <img
        src="card-2.jpg"
        alt="Shoes"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Card Title</h2>
      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      <div class="card-actions">
        <button class="btn btn-primary"> Reservar una cita </button>
      </div>
    </div>
  </div>

</section>

