/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}


root {
  --rosa-claro: #FDF0F5;
  --rosa-fuerte: #E91E63;
  --violeta: #7B1FA2;
  --negro: #1A1A1A;
  --blanco: #FFFFFF;
}

body {
  background-color: var(--rosa-claro);
  color: var(--negro);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
