<section class="bg-white">

<h2 class="text-4xl font-bold text-fuchsia-600 text-center mt-2 mb-4">
  Nuestros servicios
</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-4">

  <div class="group bg-base-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300">
    <div class="relative overflow-hidden">
      <img src="manicura.jpg" class="w-full h-48 object-cover group-hover:scale-110 transition-transform duration-500" />
      <div class="absolute top-2 right-2 badge badge-secondary font-bold">$450</div>
    </div>

    <div class="p-5">
      <h3 class="text-lg font-bold text-neutral">Maquicura Valentina</h3>
      <p class="text-xs text-gray-500 mt-1 italic">Incluye exfoliación y masaje</p>

      <div class="flex justify-between items-center mt-4">
        <span class="flex items-center gap-1 text-xs font-medium">
          <iconify-icon icon="lucide:clock" class="text-primary"></iconify-icon> 60 min
        </span>
        <button class="btn btn-primary btn-xs btn-outline">Detalles</button>
      </div>
    </div>
  </div>

</div>

</section>

