<section class="bg-white">

<h2 class="text-4xl font-bold text-fuchsia-600 text-center mt-2 mb-4">
  Nuestros servicios
</h2>

<div class="stats shadow w-11/12 ml-15 mb-6 mt-4 ">
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 48 48"
      >
        <g
          fill="none"
          stroke="#f3ca4c"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
        >
          <path
            d="M42 44V22c0-9.941-8.059-18-18-18S6 12.059 6 22v22"
          />
          <path
            d="M24 43c5.523 0 10-8.954 10-20H14c0 11.046 4.477 20 10 20"
          />
        </g>
      </svg>
    </div>
    <div class="stat-title">Uñas</div>
    <div class="stat-value">Acrilicas</div>
    <div class="stat-desc">$ Precio</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Pedicura</div>
    <div class="stat-value">Spa</div>
    <div class="stat-desc">$ Precio</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">New Registers</div>
    <div class="stat-value">1,200</div>
    <div class="stat-desc">↘︎ 90 (14%)</div>
  </div>
</div>

</section>

